* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}
.active {
  color: red;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1180px;
  margin: 0 auto;
}

nav .middle {
  margin: 0 121px;
}

.welcome .title {
  font-size: 36px;
  font-weight: 400;
  color: #17326e;
}

.welcome .description {
  color: #090346;
  font-size: 20px;
  margin-top: 24px;
  margin-bottom: 120px;
}

nav ul {
  display: flex;
}

.cars {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 439px;
  background-color: #ebebf0;
}

.cars .middle {
  margin: 0 20px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #19126b;
  height: 161px;
}

footer ul {
  display: flex;
  margin-left: 130px;
}

.copyrigth {
  color: white;
}

footer .middle {
  margin: 0 20px;
}

.about .title {
  font-size: 36px;
  color: #19126b;
  font-weight: 400;
}

.about .ford {
  color: #090346;
  font-size: 20px;
  margin-top: 24px;
  margin-bottom: 120px;
}

.history {
  background-color: #ebebf0;
  display: flex;
  justify-content: space-between;
}

.history img {
  height: 250px;
}

.history h1 {
  color: #19126b;
  margin: 0;
}

.history p {
  color: #090346;
  font-size: 20px;
}
