* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}
.active {
  color: red;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1180px;
  margin: 0 auto;
}

nav .middle {
  margin: 0 121px;
}

nav ul {
  display: flex;
}

.cars {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 439px;
  background-color: #ebebf0;
}

.cars .middle {
  margin: 0 20px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #19126b;
  height: 161px;
}

footer ul {
  display: flex;
}

footer .middle {
  margin: 0 20px;
}

.copyright {
  color: white;
}

.three cars {
  display: flex;
  margin: 96px 1px;
  height: 1440px;
}

h1 {
  margin: 120px;
  padding: 96px 1px;
  color: #19126b;
}

p {
  margin: 24px 144px;
  color: #090346;
}

.about .title {
  font-size: 20px;
}
